<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @tip.email %>
</p>

<p>
  <b>Gender:</b>
  <%= @tip.gender %>
</p>

<p>
  <b>Body:</b>
  <%= @tip.body %>
</p>


<%= link_to 'Edit', edit_tip_path(@tip) %> |
<%= link_to 'Back', tips_path %>
